.aboutUs {
	display: flex;
	gap: 5em;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.aboutUsText h1 {
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 2em;
}

.aboutUsText p {
	color: #7b7b7b;
	font-size: 1em;
}

.aboutUs img {
	width: 600px;
	height: fit-content;
}
